* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  background-color: whitesmoke;
}

h1, h3{
  text-align: center;
  margin-top:0;
  margin-bottom:0;
}


#topBox {
  position: fixed;
  left:0;
  top:0;
  background-color: yellow;
  width:100%;
}
#navBar {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: yellow;
  padding: 10px 0;
}

.navRow {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
}

.topNavRow {
  
}

.bottomNavRow {
  padding-left: 15px;
  padding-right: 15px; /* Extra spacing to avoid clipping on rounded displays */
}

.navButton {
  background-color: #ffffff;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 5px 5px;
  margin: 0 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
#clock, #fltNum {
  text-align: center;
  margin:5px;
}
#fltNum {
  display: none;
  border-style: solid;
  
  max-width: 50%;
  margin: auto;
}

#debugDiv {
  border-style: solid;
  margin:20px;
  padding:10px;
}
#sceneSpace{
  position:fixed;
  top: 70px;
  left:0;
  bottom:100px;
  width: 100%;
}

#crew{
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-color: black;
}

#MELs{
  border-style: solid;
  margin:auto;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}
#MELs th{
  border-style: solid;
  border-collapse: collapse;
}

#MELs tr:nth-child(even) {
  background-color: goldenrod;
}


#MELs td{
    border-style: solid;
  border-collapse: collapse;
}

#remarks {
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
  padding:5px;
}

#depWx {
  border-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  padding:5px;
}

